/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1.5;
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.button1 {
    height: 38px;
    background-color: #e8491d;
    border: none;
    padding: 0 20px;
    font-size: 15px;
    color: #fff;
}

.dark {
    padding: 15px;
    background: #35424A;
    color: #fff;
    margin: 10px 0;
}

/*-------------------------------- Styles Start --------------------------------*/

.wrapper{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #35424A;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    padding: 0 20px;
    display: inline;
}

header #logo {
    float: left;
    font-size: 30px;
    font-weight: 700;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav h2{
    height: 0;
    text-indent: -10000px
}

header .highlight, header .active a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
 color: #cccccc;
 font-weight: bold;
}

section#showcase {
    background: url('./img/showcase.jpg') no-repeat 0 -400px;
    min-height: 400px;
    text-align: center;
    color: #fff;
}

section#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

section#showcase p {
    font-size: 20px;
}

section#newsletter {
    padding: 15px;
    color: #fff;
    background: #35424A;
}

section#newsletter h1 {
    float: left;
}

section#newsletter form {
    float: right;
    margin-right: 15px;
}

section#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;   
}

#boxes .box img {
    width: 90px;
}

article#main-col{
    float: left;
    width: 65%;
}
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar input, aside#sidebar textarea {
    width: 90%;
    padding: 5px;
} 
ul#services li{
    padding: 20px;
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    background: #e6e6e6;
}



footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background: #e8491d;
    text-align: center;
}

@media(max-width: 768px) {
    header #logo, 
    header nav,
    header ul li,
    section#newsletter h1, 
    section#newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    section#showcase h1{
        margin-top: 20px;
    }

    section#newsletter input[type="email"], .button1 {
        display: block;
        width: 100%;
    }

    .button1 {
        margin-top: 5px;
    }
}